* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333333;
}

.site-header-sticky, .container {
    display: flex;
}

.container {
    width: auto;
    padding: 15px;
}

.icon-bar {
    width: 20px;
    height: 3px;
    color: #263141;
}