@media screen and (max-width:699px) {   
    .flex-row .header-left .social-media{
        display: none;
    }
    
    .flex-row .header-logo{
        display: none;
    }

    .flex-row .header-right{
        display: none;
    }

    .flex-row .header-left{
        width: 100%;
    }

    .header-tagline p {
        padding-left: 20%;
        padding-right: 20%;
    }

    .menu-label {
        display: none;
    }
}